// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere
;
// Buttons


// Brand Colors
$white:  #F4F1F9;//rgb(242,239,248);//
$blue:   #366BFF;//rgb(93,133,253);//
$lightblue: lighten($blue, 10%);
$teal:   #41D1C5;//rgb(57,203,189);//
$pink:   #E35CC4;//rgb(223,82,188);
$purple: #4E2986;//rgb(94,70,189);//
$purple-dark: rgb(68, 52, 96);
$purple-light: rgb(105, 81, 148);

// Default for Hyperlinks, Buttons, etc.
$brand-primary: lighten($purple, 10%);

// Create grayscale
$gray-dark:  rgb(62,59,68);//#47434D;
$gray:       rgb(142,138,150);//#9995A0;
$gray-light: rgb(208,204,216);//#D6D2DD;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,300i,700i');


$font-family-sans-serif: Source Sans Pro, sans-serif;
$font-family-serif: Source Serif Pro, serif;

$font-weight-bold: 700;
$font-weight-regular: 300;

$font-size-h1: 3.75rem;
$font-size-h2: 3rem;
$font-size-h3: 2.25rem;
$font-size-h4: 1.5rem;
$font-size-h5: 1.3125rem;
$font-size-h6: 1.125rem;
$font-size-lg: 1.3125rem;
$font-size-xl: 2rem;


$text-transform-upper: uppercase;
$heading-text-align: center;

$font-style-h5: italic;
$font-style-blockquote: italic;


// Buttons
$btn-primary-bg: $blue;
$btn-secondary-bg: $gray;
$btn-secondary-color: $white;
$btn-info-bg: $teal;
$btn-success: $purple;
$btn-warning: $gray-dark;
$btn-danger: $pink;

$brand-danger: lighten($pink, 10%);
$brand-success: $purple;
$brand-info: $teal;
$brand-warning: $gray-dark;
