// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
// Brand Styles

body {
    background-color: #fff;
    color: $gray-dark;
    font-family: $font-family-sans-serif;
}

h1 {
    font-weight: $font-weight-bold;
    text-align: $heading-text-align;
}

h2,
h6 {
    font-weight: $font-weight-bold;
}

h3 {
    font-weight: $font-weight-bold;
    text-align: $heading-text-align;
}

h4 {
    text-transform: $text-transform-upper;
}

h5 {
    font-family: $font-family-serif;
    font-style: $font-style-h5;
}

p {
    font-size: $font-size-lg;
    font-weight: $font-weight-regular;
}

blockquote {
    font-size: $font-size-lg * 1.75;
    font-family: $font-family-sans-serif;
    font-style: $font-style-blockquote;
    font-weight: $font-weight-regular;
}

hr {
    border: 5px solid $gray-dark;
    color: $gray-dark;
    width: 105px;
}
/* Background Colors */
.white-bg {
    background-color: $white;
}

.blue-bg {
    color: $white;
    background-color: $blue;
}

.lightblue-bg {
    color: $white;
    background-color: $lightblue;
}

.teal-bg {
    color: $white;
    background-color: $teal;
}

.pink-bg {
    color: $white;
    background-color: $pink;
}

.purplelight-bg {
    background-color: $purple-light;
}

.purple-bg {
    color: $white;
    background-color: $purple;
}

.purpledark-bg {
    font-style: italic;
    background-color: $purple-dark;
}

.graydark-bg {
    color: $white;
    background-color: $gray-dark;
}

.gray-bg {
    color: $white;
    background-color: $gray;
}

.graylight-bg {
    background-color: $gray-light;
}
/* Foreground Colors */
.white-fg {
    color: $white;
}

.blue-fg {
    color: $blue;
}

.lightblue-fg {
    color: $lightblue;
}

.teal-fg {
    color: $teal;
}

.pink-fg {
    color: $pink;
}

.purple-fg {
    color: $purple;
}

.graydark-fg {
    color: $gray-dark;
}

.gray-fg {
    color: $gray;
}
/* Buttons */
.btn {
    font-family: $font-family-sans-serif;
    font-size: $font-size-lg;
    margin-top: 2rem;

}

.btn-group-xl > .btn,
.btn-xl {
    min-width: 10px;
    font-size: 1.9em;
    padding: 0.9rem 2rem;
    border-radius: 8px;
}
/*** SLANTED EDGES STYLES **/
// mixin
@mixin angle($pseudo, $flip: false, $angle: 1.5deg) {
    // Possible values for $pseudo are: before, after, both
    @if $pseudo == 'before' or $pseudo == 'after' or $pseudo == 'both' {
        position: relative;
        z-index: 1;
        $selector: if($pseudo == 'both', '&:before,&:after', '&:#{$pseudo}');

        #{$selector} {
            background: inherit;
            content: '';
            display: block;
            height: 50%;
            left: 0;
            position: absolute;
            right: 0;
            z-index: -1;
            -webkit-backface-visibility: hidden; // for Chrome Windows
        }

        @if $pseudo == 'before' {
            #{$selector} {
                top: 0;
                @if $flip {
                    transform: skewY($angle * -1);
                    transform-origin: 0 0;
                }
                @else {
                    transform: skewY($angle);
                    transform-origin: 100% 0;
                }
            }
        }

        @if $pseudo == 'after' {
            #{$selector} {
                bottom: 0;
                @if $flip {
                    transform: skewY($angle);
                    transform-origin: 0 100%;
                }
                @else {
                    transform: skewY($angle * -1);
                    transform-origin: 100%;
                }
            }
        }

        @if $pseudo == 'both' {
            &:before {
                top: 0;
                @if $flip {
                    transform: skewY($angle * -1);
                    transform-origin: 0 0;
                }
                @else {
                    transform: skewY($angle);
                    transform-origin: 100% 0;
                }
            }

            &:after {
                bottom: 0;
                @if $flip {
                    transform: skewY($angle);
                    transform-origin: 0 0;
                }
                @else {
                    transform: skewY($angle * -1);
                    transform-origin: 100%;
                }
            }
        }
    }
}
// slanted edges here

.edge--bottom {
    @include angle(after);
}

.edge--bottom--reverse {
    @include angle(after, true);
}

.edge--top {
    @include angle(before);
}

.edge--top--reverse {
    @include angle(before, true);
}

.edge--both {
    @include angle(both);
}

.edge--both--reverse {
    @include angle(both, true);
}
/*** END SLANTED EDGES STYLES **/

/** ALT MIXIN FOR ANGLED EDGES**/
@mixin angle-edge($pos-top:null, $angle-top:null, $pos-btm:null, $angle-btm:null){
    width: 100%;
    position: relative;
    background: linear-gradient(to right, $purple-light 0%, $purple-dark 100%);
    &:before,
    &:after{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: inherit;
        z-index: -1;
        transition: ease all .5s;
    }

    @if $pos-top{
        &:before{
            @if $pos-top == 'topleft'{
                top: 0;
                transform-origin: right top;
                transform: skewY($angle-top);
            }
            @if $pos-top == 'topright' {
                top: 0;
                transform-origin: left top;
                transform: skewY(-$angle-top);
            }
        }
    }

    @if $pos-btm{
        &:after{
            @if $pos-btm == 'bottomleft' {
                bottom: 0;
                transform-origin: right bottom;
                transform: skewY(-$angle-btm);
            }

            @if $pos-btm == 'bottomright' {
                bottom: 0;
                transform-origin: left bottom;
                transform: skewY($angle-btm);
            }
        }
    }


}

.angled-top-left{
    @include angle-edge($pos-top: topleft, $angle-top: 3deg);
}

.angled-top-right{
    @include angle-edge($pos-top: topright, $angle-top: 3deg);
}

.angled-bottom-left{
    @include angle-edge($pos-btm: bottomleft, $angle-btm: 3deg);
}

.angled-bottom-right{
    @include angle-edge($pos-btm: bottomright, $angle-btm: 3deg);
}

.angled-both-left{
    @include angle-edge(topleft, 3deg, bottomleft, 3deg);
}
.angled-both-right{
    @include angle-edge(topright, 3deg, bottomright, 3deg);
}
.angled-both-left-right{
    @include angle-edge(topleft, 3deg, bottomright, 3deg);
}
.angled-both-right-left{
    @include angle-edge(topright, 3deg, bottomleft, 3deg);
}






/*** Header ***/
.menu-item {
    padding: 0 1.25rem;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    font-size: $font-size-lg;
}

.menu-item a {
    color: $gray-dark;
}

.menu-item a:hover {
    border-bottom: solid 3px $pink;
    text-decoration: none;
}

body,
html {
    height: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    overflow-x: hidden;
}
/* The hero image */
.hero-image {
    /* The image used */
    background-image: url('../img/src/coffee-work-desk-mug-keyboard.jpeg');
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#intro {
  background: linear-gradient(
      rgba(105, 81, 148, 0.10),
      rgba(105, 81, 148, 0.10)),
  url('../img/src/coffee-work-desk-mug-keyboard.jpeg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 93%);
  height: 100%;
  min-height: 400px;
  width: 100%;
}
#intro {
    h3 {
        font-weight: $font-weight-regular;
    }
}

.h1,
h1 {
    margin: 8rem 0 2rem;
}

.my-title {
    margin-bottom: 10rem;
}
/*** About Me ***/
#about-me {
    margin-top: 4rem;
}

#social-cta {
    padding-left: 10rem;
    top: -200px;
    z-index: 2;

    a:hover {
        color: $pink;
    }

    ul {
        li {
            list-style: none;
            padding-bottom: 1rem;
        }

        a {
            color: $pink;
            border-bottom: 5px solid $pink;
            font-size: $font-size-lg;
            margin-bottom: 2rem;
        }
    }

    img {
        padding-bottom: 3rem;
    }

    .btn {
        width: 300px;
    }

    .shift-right {
        padding-left: 2rem;
    }
}

@media (max-width: 994px) {
  #social-cta {
    padding-bottom: 5rem;
      padding-left: 0;
      top: 0;
      z-index: 0;
    }
}
/** Quotes **/
#first-quote.jumbotron,
#second-quote.jumbotron {
    color: $white;
    background-color: $purple;
    z-index: -1;
}
/** Education Skills **/
#development-skills,
#education-skills {
    margin-top: 5rem;
    margin-bottom: 6rem;

    .skills {
        margin-top: 5rem;
    }
}
//   Skills Chart

.chart {
    position: relative;
    display: inline-block;
    margin: 20px 10px;
    color: $lightblue;
    font-size: 14px;
    text-align: center;
}

.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}
/** Development Skills **/
#development-skills {
    i {
        font-size: 3rem;
    }
}

#toolkit {
    margin-top: 2rem;

    ul {
        li {
            margin-left: 2rem;
        }
    }
}
/** My Experience **/
#experience {
    background-image: url('../img/src/experience-section-background.jpg');
    background-position: top -200px right;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 99%);
    width: 100%;
}

#cd-timeline {
    padding-bottom: 3rem;
}

.cd-timeline-content {
    background: white;
}

.cd-timeline-item-title {
    font-size: $font-size-h6;
}

.the-excerpt {
    h6 {
        color: $lightblue;
        font-weight: $font-weight-regular;
    }

    p {
        font-size: $font-size-base;
    }
}
/** Download Resume **/
#resume {
    background-color: $lightblue;

    h4 {
        font-weight: $font-weight-bold;
        text-transform: capitalize;

        a {
            color: $white;
        }

        img {
            padding-right: 1rem;
            vertical-align: text-bottom;
        }
    }
}
/** Portfolio **/
#portfolio {
    padding-top: 5rem;
    padding-bottom: 6rem;

    .btn {
      padding: .25rem .75rem;
      font-size: 1rem;
    }

    h6 {
        font-size: $font-size-h6 * 1.125;
    }

    i {
        font-size: 3rem;
    }

    .card {
      background: white;
      border: none;
      padding-bottom: 1em;
      margin-top: 2em;
    }

    .card-title {
      background-color: white;
      color: $purple-dark;
    }
    .slanted-title-box {
        background: white;
        border-left: 10px solid $purple-dark;
        height: 50px;
        position: relative;
        width: 230px;
        color: $purple-dark;
        top: -20%;
    }

    .slanted-title-box .card-title {
      line-height: 50px;
      padding-left: 10px;
      z-index: 999;
      top: -20%;
    }
    .slanted-title-box::before {
        background: white none repeat scroll 0 0;
        content: "";
        height: 50px;
        position: absolute;
        right: -25px;
        transform: skew(-20deg);
        width: 50px;
    }

    .card-img-top {
        filter: brightness(.92);
    }
    .card-body {
      background-color: white;
    }

    .card-text {
      font-size: 1.125rem;
    }

    .card-footer {
      background: none;
      border: none;
      padding: 0;
    }
}


/** Recommendations **/
#recommendations {
    .jumbotron {
        background-color: $gray-light;
    }

    .recommendation-wrapper {
        margin-top: 4rem;

        .recommendation {
            border-left: 10px dotted $lightblue;
            padding-left: 4rem;
        }

        .social-links a {
            background: $gray-dark;
            text-align: center;
            float: left;
            width: 36px;
            height: 36px;
            border: 1px solid $gray-dark;
            border-radius: 100%;
            margin-right: 1rem;
            /*space between*/
        }

        .social-links a i {
            font-size: 20px;
            line-height: 38px;
            color: $white;
        }
    }
}
/** Contact **/
#contact {
    hr {
        border-color: $white;
    }

    .nf-form-wrap {
        padding: 4rem;
    }

    .nf-field-label label,
    .nf-form-fields-required,
    .nf-form-wrap p {
        color: $white;
        font-family: $font-family-sans-serif;
        font-weight: $font-weight-regular;
    }

    #nf-field-5,
    #nf-field-6 {
        border: 0;
        color: $white;
        font-family: $font-family-sans-serif;
        height: 60px;
        padding: 1rem;
        width: 100%;
    }

    #nf-field-7 {
        border: 0;
        color: $white;
        font-family: 'Source Sans Pro';
        padding: 1rem;
        height: 200px;
        width: 100%;
    }

    #nf-field-8 {
        width: 125px;
    }

    .nf-error-msg,
    .ninja-forms-req-symbol {
        color: lighten($pink,10%);
    }
}
/** Up to Date **/
#uptodate {
    margin-top: 4rem;
}
///////////** BOOK LANDING PAGE **////////////
/* HEADER */
#book.jumbotron {
    background-color: #fff;
}

/* PAGE */
#what-you-learn {
    h6 {
        font-size: $font-size-h4;
    }
    hr {
        border: 3px solid $gray-dark;
        margin-top: 0;
        width: 50px;
    }
    button {
        width: 100%;
    }
}

#book-for-me {
        background-image: url('../img/src/book-audience-background.jpg');
        background-position: center;
        background-repeat: no-repeat;
        clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%); //http://bennettfeely.com/clippy/
        background-size: cover;

        ul {
            li {
                font-size: $font-size-lg;
            }
        }
}
